altair
argon2-cffi
certifi
flatten-json
fonttools
holoviews
importlib-metadata
ipyleaflet
ipywidgets
json5
matplotlib-inline
menuinst
nest-asyncio
numpy
openpyxl
packaging
pandas
Pillow
plotly
prometheus-client
prompt-toolkit
requests
rise
streamlit
traitlets
