altair==4.2.2
argon2-cffi
base64
certifi==2022.12.7
flatten-json
fonttools==4.39.3
holoviews
importlib-metadata==6.6.0
ipyleaflet==0.15.0
ipywidgets
json5
matplotlib-inline
menuinst
nest-asyncio
numpy==1.21.6
openpyxl
packaging==23.1
pandas==2.0.1
pillow==9.5.0
plotly
prometheus-client
prompt-toolkit==3.0.8
requests
rise==5.4.1
streamlit==1.22.0
traitlets
